body{
    background-color:lavender
}



.title{
    margin-bottom: 10px;
    text-align: center;
    color:lightpink;
    border: solid black 2px;
    font-size:50px ;
    width: 500px;
    margin-left: 400px;
    background-color:rosybrown
    
}

table,th,td{
    border: 5px solid black;
    float: left;
    background-color: lightgoldenrodyellow;
    
}

.val
{
    background-color: black;
    color:white;
    border: solid black 2px;
    width: 100px;
    height:80px;
    font-size: large;
}

input[type=text]{
    background-color: white;
    border: solid black 2px;
    width: 320px;
    height: 75px;
    font-size: large;
}

input[type=button]{
    width:100px;
    height: 80px;
}
input:hover{
    background-color: gray;
    
}

body > form{
    background-color:honeydew;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 500px;
    margin-right: 400px;

}